<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn reactjs </title>
    <link href="/css/style.css" rel="stylesheet">
    <script crossorigin src="/js/react.production.min.js"></script>
    <script crossorigin src="/js/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <!--<script type="text/babel" src="/js/common.js"></script>-->
    <!--<script type="text/babel" src="/js/slide.js"></script>-->
    <!--<script type="text/babel" src="/js/note.js"></script>-->
    <script type="text/babel" src="/js/jquery.min.js"></script>
    <script type="text/babel" src="/js/ajax.js"></script>
</body>
</html>